.start
{
    position: absolute;
    border: none;
    background: transparent;
    color: white;
    font-size: 50px;
    font-family: FNaF_logo;
    width: 170px;
    margin-top: 550px;
    margin-left: 50px;
    height: 70px;
}
.Menu
{
    display: block;
    position: absolute;
    overflow: hidden;
    margin-left: 10px;
    margin-right: auto;
    height: 720px;
    width: 1600px;
    top: 20px;
    outline: solid rgb(59, 55, 55) 5px;
}
.bakgroundMenu
{
    width: 1600px;
}
.logoMenu
{
    position: absolute;
    margin-left: 50px;
    margin-top: 60px;
}
.static3
{
    pointer-events: none;
    opacity: 30%;
    margin-left: -25px;
    position: absolute;
    height: 720px;
    width: 1700px;
}